# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.name
*.make
*.cache
*.cmake
*.suo
*.tlog
*.bin
*.rc
*.res
*.xml
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.log
*.pdb
*.ilk
*.idb
*.chechk_cache
*.db
*.includecache
*.c
*.txt
*.iml
*.cbp
*.recipe
*Debug
*cmake-build-debug
*.vs
*.ipch